 <!-- Présentation -->
<section>
    <div id="pres" class="bg container-fluid "> 
        <h1>Bienvenue au Garage V. Parrot</h1>
             <p id="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
    </div>
</section>

    <!--Services-->
<section class="row d-flex container-fluid">    
            <!--Réparation-->
        <div class="col-lg-4 text-center"> 
            <img class="" width="140" height="140" src="/img/reparation-automobile (2).png" role="img"width="100%" height="100%"></img>
            <h2>Réparation</h2>
                <p>rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun ut labore et dolore agna aliqua.</p>
        </div> 
            <!--Entretien-->
        <div class="col-lg-4 text-center"> 
            <img class="" width="140" height="140" src="/img/reparation-automobile (3).png" role="img" width="100%" height="100%"></img>
            <h2>Entretien</h2>
                <p>rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore agna aliqua.</p>
        </div> 
            <!--Voitures d'occas-->  
        <div class="col-lg-4 text-center"> 
            <img class="" width="140" height="140" src="/img/voiture (1).png" role="img" width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
            <h2 class="">Voitures d’occasion</h2>
                <p>rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore agna aliqua.</p>
                    <a class="btn " href="{{ path('annonceindex')}}">Plus de détails</a>
        </div> 

            <!--Bouton Nous contacter-->    
        <div class= "text-center"> 
            <button class="btn btn-lg" href="{{ path('contact')}}">Nous contacter</button>
        </div>
</section>

<section> 
    <div id="avis" class="bg container-fluid">
<h2>Témoignages</h2>

    </div>
   
</section>

    
