.bg {
    background: #C2CDD5;
    padding-top: 5%;
}

.row {
    padding-top: 5%;
    padding-bottom: 5%;
}

#pres {
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    padding-bottom: 10%;
}

#avis {
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    padding-bottom: 5%;
}

#paragraph {
    display: block;
    opacity: 0;
    animation: reveal 0.5s forwards var(--d);
}