.bg {
    background: #C2CDD5;
    padding-top: 5%;
}

#pres {
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
.imgAccueil {
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#serviceText {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}

#service1  {
    text-align: center;
    padding-top: 2%;
    
    
}
#service2 {
    text-align: center;
    padding-bottom: 2%;
    
}
#service3 {
    text-align: center;
    padding-top: 2%;
}


.bntContactAccueil {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

#avis {
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    padding-bottom: 5%;
}
