.voiturePres {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 7%;
    padding-left: 7%;
}

#filtre {
    padding-left: 5%;
    padding-bottom: 3%;
}

#annonces {
    padding-bottom: 5%;
}

