h4 {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.subTitle {
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
}