// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import './base/footer.scss';
@import './base/accueil.scss';
@import './base/nav.scss';
@import './avis.scss';
@import './mentionsLegales.scss';

@import './annonce/accueilAnnonce.scss';
@import './annonce/details.scss';


@import './contact.scss';
@import './login.scss';



// customize some Bootstrap variables


.btn{
    font-weight: bold;
    background: #055C9D;
    color : white;
    text-align: center;
} 

body {
    font-family: Roboto, sans-serif;
    font-size: larger;
    background: white;
    color: black

}

h1, h2 {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    
}

h6 {
    font-weight: bold;
    color: #DCB233;
}

p {
    color: black;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;

}

