.ml{
    text-align: justify;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

h5 {
    font-family: Quicksand, sans-serif;
        font-weight: bold;
        color: black;
        text-align: center;
        padding-top: 2%;
}