<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Garage V. Parrot {% endblock %}</title>
        <link rel="icon" href="img/LogoNom.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
            <!-- Feuilles de styles-->
        {% block stylesheets %} 
            {{ encore_entry_link_tags('app') }}
        {% endblock %} 

        

            <!-- Feuilles de styles-->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}  
        {% endblock %}
        
        
        
       
    </head>
      
    
    <body>
      
  {% include 'base/nav.html.twig' %}

            {% block body %} 
  {% include 'base/accueil.html.twig' %} 
            {% endblock %}

  {% include 'base/footer.html.twig' %} 

    </body>  
       

     
        
    
</html>
