{% extends "base.html.twig" %}

{% block title %} Garage V. Parrot - Création d'un compte{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Formulaire de création de compte</h1>

		{{ form(form) }}

		</div>
	{% endblock %}

